Code 1

In [1]:
import pandas as pd
a = {"one":[0,4,8],"two":[1,5,9],"three":[2,6,10],"four":[3,7,11]}
b = pd.DataFrame(data= a,index = ["Ohio","Colorado","New York"])
print(b)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Code 2

In [2]:
c = pd.DataFrame(data={"five":[12,13,14]},index=["Ohio","Colorado","New York"])
#b = pd.concat([b,c],axis=1)
b= b.join(c)
print(b)

          one  two  three  four  five
Ohio        0    1      2     3    12
Colorado    4    5      6     7    13
New York    8    9     10    11    14

Code 3

In [3]:
DF3 = b.drop("New York")
print(DF3)

          one  two  three  four  five
Ohio        0    1      2     3    12
Colorado    4    5      6     7    13

Code 4

In [43]:
e = pd.Series(data=[1,2,3,4,5,6,7,8,9],index=["one","two","three","four","five","six","seven","eight","nine"])
print(e)

one      1
two      2
three    3
four     4
five     5
six      6
seven    7
eight    8
nine     9
dtype: int64

Code 5

In [44]:
r = b/e
print(r)

          eight  five  four  nine  one  seven  six     three  two
Ohio        NaN   2.4  0.75   NaN  0.0    NaN  NaN  0.666667  0.5
Colorado    NaN   2.6  1.75   NaN  4.0    NaN  NaN  2.000000  2.5
New York    NaN   2.8  2.75   NaN  8.0    NaN  NaN  3.333333  4.5

Code 6

In [45]:
r.isnull()

          eight   five   four  nine    one  seven   six  three    two
Ohio       True  False  False  True  False   True  True  False  False
Colorado   True  False  False  True  False   True  True  False  False
New York   True  False  False  True  False   True  True  False  False

In [48]:
r["six"].fillna(1,inplace=True)
print(r)

          eight  five  four  nine  one  seven  six     three  two
Ohio        NaN   2.4  0.75   NaN  0.0    NaN  1.0  0.666667  0.5
Colorado    NaN   2.6  1.75   NaN  4.0    NaN  1.0  2.000000  2.5
New York    NaN   2.8  2.75   NaN  8.0    NaN  1.0  3.333333  4.5

Code 7

In [53]:
s = pd.Series(data = [1,2,3,4],index=[["first","first","Third","Third"],["sub one","sub two","sub three","sub four"]])
print(s)

first  sub one      1
       sub two      2
Third  sub three    3
       sub four     4
dtype: int64

Code 8

In [8]:
v = b.stack()
m = v.squeeze(axis= 0 )
print(m)
print(type(m))

Ohio      one       0
          two       1
          three     2
          four      3
          five     12
Colorado  one       4
          two       5
          three     6
          four      7
          five     13
New York  one       8
          two       9
          three    10
          four     11
          five     14
dtype: int64
<class 'pandas.core.series.Series'>