Code 1

In [38]:
import pandas as pd

s =  pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

Code 2

In [5]:
c = pd.Series([1,2,3,4])
print(c)
print(type(c))
print(c.tolist())
print(type(c.tolist()))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
[1, 2, 3, 4]
<class 'list'>

Code 3

In [6]:
q  = pd.Series([1,2,3,4])
p = pd.Series([4,5,6,7])
a = q+p
b = q-p
c = q*p
d = q/p
print("sum",a,"sub",b,"mult",c,"div",d)

sum 0     5
1     7
2     9
3    11
dtype: int64 sub 0   -3
1   -3
2   -3
3   -3
dtype: int64 mult 0     4
1    10
2    18
3    28
dtype: int64 div 0    0.250000
1    0.400000
2    0.500000
3    0.571429
dtype: float64

Code 4

In [8]:
q  = pd.Series([2,3,4,5,6])
r = pd.Series([4,8,7,6,8])
print(q==r)
print(q>r)
print(r>q)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool

Code 5

In [9]:
d = {"a":1,"b":2,"c":3,"d":4}
a = pd.Series(d)
print(a)

a    1
b    2
c    3
d    4
dtype: int64

Code 6

In [10]:
import numpy as np
b = np.array([1,2,3,45])
c  = pd.Series(b)
print(c)

0     1
1     2
2     3
3    45
dtype: int32

Code 7

In [12]:
s  = pd.Series(['1','234','32','432','hello','76'])
f  = pd.to_numeric(s,errors='coerce')
print(f)

0      1.0
1    234.0
2     32.0
3    432.0
4      NaN
5     76.0
dtype: float64

Code 8

In [18]:
p ={"col1":[1,2,3,4],"col2":[5,6,7,8],"col3":[9,10,11,12]}
w = pd.DataFrame(data=p)
q = w.iloc[:,0]
print(q)

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

Code 9

In [19]:
f = pd.Series([3,45,32,67,54])
g = np.array(f.values.tolist())
print(g)

[ 3 45 32 67 54]

Code 10

In [21]:
h = pd.Series([
    ['Red','Green','White'],
    ['Red','Black'],
    ['Yellow']
])
h=h.apply(pd.Series).stack().reset_index(drop=True)
print(h)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Code 11

In [25]:
s = pd.Series(['1','3','4.54','hello','100','400'])
u = pd.Series(s).sort_values()
print(u)

0        1
4      100
1        3
2     4.54
5      400
3    hello
dtype: object

Code 12

In [31]:
s = pd.Series(['1','3','4.54','hello','100','400'])
s = pd.concat([s,pd.Series(['500','world'])]).reset_index(drop=True)
print(s)

0        1
1        3
2     4.54
3    hello
4      100
5      400
6      500
7    world
dtype: object

Code 13

In [32]:
d =pd.Series([1,2,3,4,6,7,45,34,789,321.6,999,0])
g = 8
v = d[d>g]
print(v)

6      45.0
7      34.0
8     789.0
9     321.6
10    999.0
dtype: float64

Code 14

In [37]:
d = pd.Series(data=[1,2,3,4,5], index=['Q','W','E','R','T'])
d = d.reindex(index= ['T','E','W','R','Q'])
print(d)

T    5
E    3
W    2
R    4
Q    1
dtype: int64